@charset"UTF-8";


.button {
    text-align: center;/*文字の位置*/
   font: italic 4em "Times New Roman", serif;
	position:absolute;
    top: 100px;
    left: 610px;
	background-color:#faf0e6;/*背景の色*/
	border-radius: 5px; /*ボタンの丸み*/
	color:darkgray; /*文字の色*/
    animation: appear 8s;
}

h1{
    position: absolute;
    top: 0px;
    left: 280px;
    font: italic 5em/0em "Times New Roman", serif;
    color:aqua;
	z-index: 3;
}