@charset"UTF-8";

h1{
    position: absolute;
    top: 0px;
    left: 280px;
    font: italic 5em/0em "Times New Roman", serif;
    color:aqua;
    z-index: 3;/*優先順位*/
    
}/*Closize*/

#tshirt{
	position: absolute;
	top: 100px;
	
}

#text1{
	position: absolute;
	top:100px;
	color: white;
}

#bottoms{
	position: absolute;
	top: 330px
}

#text2{
	position: absolute;
	top: 330px;
}

a:hover img{
    opacity: 0.6;
    filter: alpha(opacity=60);
}/*ホバーした時に透過*/

#yshirt{
	position: absolute;
	top: 100px;
	left: 300px
}

#text3{
	position: absolute;
	top: 250px;
	left: 343px
}

#tshirt1{
	position: absolute;
	top: 100px;
	left: 480px
}

#text4{
	position: absolute;
	top: 250px;
	left: 530px
}

#sweater{
	position: absolute;
	top: 100px;
	left: 660px
}

#text5{
	position: absolute;
	top: 250px;
	left: 700px
}